<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вакансии</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191294?query=java%20odessa">Senior Java Developer, Odessa</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192653?query=java%20odessa">Security Rules QA Engineer -
            Odessa</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10876009?query=java%20odessa">Senior Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">DataArt Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192284?query=java%20odessa">Middle Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191861?query=java%20odessa">Intern Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191369?query=java%20odessa">Senior Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192246?query=java%20odessa">Senior Java Developer/Technical
            Lead</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11183735?query=java%20odessa">Java Developer (Augaroo)</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11048047?query=java%20odessa">Senior Java / Scala Developer</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">DataArt Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11079665?query=java%20odessa">Senior QA engineer - Odessa</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11079786?query=java%20odessa">Automation QA Engineer -
            Odessa</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10942746?query=java%20odessa">Senior Java Developer - Odessa</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11036249?query=java%20odessa">Senior Big Data/Hadoop Developer
            [WMG]</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">DataArt Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11073276?query=java%20odessa">Regular Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191700?query=java%20odessa">Senior Excel/VB developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192011?query=java%20odessa">Junior QA</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192491?query=java%20odessa">Project Manager</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10993457?query=java%20odessa">Java-разработчик (проект
            Приват24)</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">ПриватБанк</td>
        <td class="salary">от 24&nbsp;000 до 33&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10943474?query=java%20odessa">Senior Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11141049?query=java%20odessa">Big Data Engineer (Augaroo)</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/560164256">Java программист серверной части</a></td>
        <td class="city">Москва</td>
        <td class="companyName">ООО "Дедикейтед Лоджик"</td>
        <td class="salary">От 100 000 до 150 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000005374">Java разработчик (Java Developer, Middle
            Java Developer)</a></td>
        <td class="city">Москва</td>
        <td class="companyName">ООО "Алтимета"</td>
        <td class="salary">От 100 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/800020394">java-разработчик</a></td>
        <td class="city">Санкт-Петербург</td>
        <td class="companyName">Петер-Сервис</td>
        <td class="salary">От 100 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021444">Java-разработчик</a></td>
        <td class="city">Москва</td>
        <td class="companyName">iiko</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021587">Java разработчик</a></td>
        <td class="city">Минск</td>
        <td class="companyName">BelPrime</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000008357">Java Developer</a></td>
        <td class="city">Москва</td>
        <td class="companyName">Instabank</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021415">Java программист</a></td>
        <td class="city">Новосибирск</td>
        <td class="companyName">SoftAge</td>
        <td class="salary">От 80 000 до 110 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000005277">Java Developer</a></td>
        <td class="city">Новосибирск</td>
        <td class="companyName">Faidon Design</td>
        <td class="salary">От 1 800 eur.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000020518">Java-разработчик</a></td>
        <td class="city">Москва</td>
        <td class="companyName">Банк «Открытие»</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021498">Java Разработчик</a></td>
        <td class="city">Москва</td>
        <td class="companyName">Кадровый центр СОЛОМОН</td>
        <td class="salary">От 110 000 до 280 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021665">Java developer</a></td>
        <td class="city">Санкт-Петербург</td>
        <td class="companyName">VIAcode</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021211">Senior Java Developer</a></td>
        <td class="city">Москва</td>
        <td class="companyName">John Wiley &amp; Sons Rus, LLC</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td>
        <td class="city">Екатеринбург</td>
        <td class="companyName">СКБ Контур</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021705">Senior Java developer</a></td>
        <td class="city">Санкт-Петербург</td>
        <td class="companyName">Рексофт</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000014505">Backend-разработчик Java</a></td>
        <td class="city">Санкт-Петербург</td>
        <td class="companyName">АМА ГРУПП</td>
        <td class="salary">От 70 000 до 120 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021574">Java Team -Lead</a></td>
        <td class="city">Казань</td>
        <td class="companyName">Cinarra</td>
        <td class="salary">От 100 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021778">Senior Java EE Developer</a></td>
        <td class="city"></td>
        <td class="companyName">Nitka Inc</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021307">Ведущий Java разработчик</a></td>
        <td class="city">Казань</td>
        <td class="companyName">Digital Zone</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/652337989">Ведущий разработчик Java</a></td>
        <td class="city">Екатеринбург</td>
        <td class="companyName">Группа компаний Экстрим</td>
        <td class="salary">От 70 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000020995">Java backend разработчик</a></td>
        <td class="city">Москва</td>
        <td class="companyName">Группа компаний Агент.ру</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021567">Java Senior (Moscow/UK)</a></td>
        <td class="city">Москва</td>
        <td class="companyName">ETHR</td>
        <td class="salary">От 200 000 до 350 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021730">Senior Java Developer</a></td>
        <td class="city">Варшава</td>
        <td class="companyName">Kelly Services</td>
        <td class="salary">От 1 500 до 4 500 eur.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021419">Отличный frontend-разработчик на Java</a>
        </td>
        <td class="city">Москва</td>
        <td class="companyName">BostonGene</td>
        <td class="salary">От 70 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021172">Java / Javascript разработчик
            (front/backend)</a></td>
        <td class="city">Санкт-Петербург</td>
        <td class="companyName">Teamlead</td>
        <td class="salary">От 50 000 до 80 000 руб.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="https://moikrug.ru/vacancies/1000021522">Java/Scala developer</a></td>
        <td class="city">Москва</td>
        <td class="companyName">DIRECTUAL</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
        <td class="title"><a href="url"></a></td>
        <td class="city"></td>
        <td class="companyName"></td>
        <td class="salary"></td>
    </tr>
    </tbody>
</table>
</body>
</html>