<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Вакансии</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>City</th>
        <th>Company Name</th>
        <th>Salary</th>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191294?query=java%20odessa">Senior Java Developer, Odessa</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192653?query=java%20odessa">Security Rules QA Engineer -
            Odessa</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10876009?query=java%20odessa">Senior Java Developer</a></td>
        <td class="city">Киев</td>
        <td class="companyName">DataArt Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192284?query=java%20odessa">Middle Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191861?query=java%20odessa">Intern Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191369?query=java%20odessa">Senior Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192246?query=java%20odessa">Senior Java Developer/Technical
            Lead</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11183735?query=java%20odessa">Java Developer (Augaroo)</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11048047?query=java%20odessa">Senior Java / Scala Developer</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">DataArt Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11079665?query=java%20odessa">Senior QA engineer - Odessa</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11079786?query=java%20odessa">Automation QA Engineer -
            Odessa</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10942746?query=java%20odessa">Senior Java Developer - Odessa</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11036249?query=java%20odessa">Senior Big Data/Hadoop Developer
            [WMG]</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">DataArt Украина</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11073276?query=java%20odessa">Regular Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11191700?query=java%20odessa">Senior Excel/VB developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192011?query=java%20odessa">Junior QA</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11192491?query=java%20odessa">Project Manager</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10993457?query=java%20odessa">Java-разработчик (проект
            Приват24)</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">ПриватБанк</td>
        <td class="salary">от 24&nbsp;000 до 33&nbsp;000 грн.</td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/10943474?query=java%20odessa">Senior Java Developer</a></td>
        <td class="city">Одесса</td>
        <td class="companyName">Luxoft</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy">
        <td class="title"><a href="http://hh.ua/vacancy/11141049?query=java%20odessa">Big Data Engineer (Augaroo)</a>
        </td>
        <td class="city">Одесса</td>
        <td class="companyName">Ciklum</td>
        <td class="salary"></td>
    </tr>
    <tr class="vacancy template" style="display: none">
        <td class="title"><a href="url"></a></td>
        <td class="city"></td>
        <td class="companyName"></td>
        <td class="salary"></td>
    </tr>
    </tbody>
</table>
</body>
</html>